.person img {
  width: 100%;
  transition: all .3s ease-in-out;
}
.person img:hover {
  transform: scale(1.2);
}
.person.chosen:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  font-size: 70px;
  color: red;
  text-align: center;
  text-shadow: 0 5px 5px white,0 -5px 15px #fff;
}
.person.chosen:after {
  content: '\d7';
}
.questions {
  text-align: center;
  display: none;
}
.questions.active {
  display: inline-block;
}
.questions.active li {
  cursor: pointer;
}
.list-group-item {
  border: 0;
}
.list-group-item a {
  cursor: pointer;
}
a,
a:visited {
  color: black;
}
a:hover {
  color: #999;
}
h4 {
  font-size: 14px;
}
.person-chosen .person img {
  width: 250px;
}
.strike-through {
  text-decoration: line-through;
}
