body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}
h1 {
	font-size: 60px;
}
ul {
  padding: 0;
}
.questions {
  text-align: center;
  display: none;
}
.questions.active {
  display: inline-block;
}
.questions.active li {
  cursor: pointer;
}
.list-group-item {
  border: 0;
}
.list-group-item a {
  cursor: pointer;
}
a,
a:visited {
  color: black;
}
a:hover {
  color: #999;
}
h4 {
  font-size: 14px;
}
.strike-through {
  text-decoration: line-through;
}
/* copy paste */
.board-wrapper {
	perspective: 1200px;
	transform-style: preserve-3d;
}
.board {
	width: 800px;
	height: 800px;
	background-color: rgba(27, 58, 145, 1);
	transform: rotateX(60deg);
	transform-style: preserve-3d;
  margin: 0 auto;
}
.board .card-row {
	position: relative;
	transform-style: preserve-3d;
}
.first-card-row {
	top: 10%;
}
.second-card-row {
	top: 35%;
}
.third-card-row {
	top: 60%;
}
.fourth-card-row {
	top: 76%;
}
.card {
  transition: all .3s ease-in-out;
	border-radius: 3px;
	border-top: 3px #cce solid;
	cursor: pointer;
	position: absolute;
	padding-top: 6px;
	padding-left: 3px;
	padding-right: 3px;
	width: 80px;
	height: 140px;
	background-color: #ffe;
	transform: rotateX(-170deg);
	transform-origin: bottom;
	transition: transform 500ms cubic-bezier(1.87,-.41,.19,1.44);
}
.card.first {
	left: 8%;
}
.card.second {
	left: 21%;
}
.card.third {
	left: 33%;
}
.card.fourth {
	left: 46%;
}
.card.fifth {
	left: 58%;
}
.card.sixth {
	left: 70%;
}
.card.seventh {
	left: 82%;
}
.card.eight {
	left: 94%;
}
.card.up {
	transform: rotateY(90deg);
	transform: rotateX(-90deg);
}
.avatar {
	background-color: blue;
}
.person-chosen .avatar-img {
	width: 200px;
}
.avatar-img {
	width: 100%;
	height: auto;
}
/* copy paste */
